@import './tailwind.css';

@import './common/fonts.css';
@import './common/a11y.css';
@import './common/base.css';

body {
  background-color: var(--color-background);

  &:has([data-theme='dark']) {
    background-color: var(--color-brown-500);
  }

  ::selection {
    background-color: var(--color-peach-500);
  }
}
